aiohttp==3.9.3
aiosignal==1.3.1
async-timeout==4.0.3
attrs==23.2.0
beautifulsoup4==4.12.3
blinker==1.7.0
certifi==2024.2.2
cffi==1.16.0
charset-normalizer==3.3.2
click==8.1.7
cmake==3.28.4
colorama==0.4.6
curl_cffi==0.6.2
cvzone==1.6.1
dlib @ file:///C:/Users/Joel%20Thomas/Downloads/dlib-19.22.99-cp38-cp38-win_amd64.whl#sha256=b02321413b8765159ae552967ab9781a981324b2a389924bdb8c4ccab227f160
exceptiongroup==1.2.0
face-recognition==1.3.0
face_recognition_models==0.3.0
Flask==3.0.2
freeGPT==1.3.4
frozenlist==1.4.1
h11==0.14.0
idna==3.6
importlib_metadata==7.1.0
itsdangerous==2.1.2
Jinja2==3.1.3
MarkupSafe==2.1.5
MouseInfo==0.1.3
multidict==6.0.5
numpy==1.24.4
opencv-python==4.9.0.80
outcome==1.3.0.post0
packaging==24.0
pillow==10.2.0
PyAudio==0.2.14
PyAutoGUI==0.9.54
pycparser==2.21
PyGetWindow==0.0.9
PyMsgBox==1.0.9
pyperclip==1.8.2
PyRect==0.2.0
PyScreeze==0.1.30
PySocks==1.7.1
python-dotenv==1.0.1
pytweening==1.2.0
pywhatkit==5.4
requests==2.31.0
selenium==4.18.1
sniffio==1.3.1
sortedcontainers==2.4.0
soupsieve==2.5
SpeechRecognition==3.10.1
trio==0.25.0
trio-websocket==0.11.1
typing_extensions==4.10.0
urllib3==2.2.1
webdriver-manager==4.0.1
Werkzeug==3.0.1
wikipedia==1.4.0
wsproto==1.2.0
yarl==1.9.4
zipp==3.18.1
